{{> header}}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/public/js/grafico.js"></script>
<div class="w3-container w3-black ">
    <h3>Reportes</h3>
</div>




<div class="w3-row-padding w3-margin-top ">
    <div class="w3-half ">

            <div id="chart_div" >


            </div>

    </div>
    <div class="w3-half">
        <div id="chart_div1" >


        </div>

     </div>

</div>



<div class="w3-row-padding  w3-margin-top ">


        <div class="w3-half">
            <div id="chart_div2" >


            </div>
        </div>
        <div class="w3-half">
            <div id="chart_div3" >


            </div>
        </div>
    </div>













{{> footer}}