{{>header}}
<div class="w3-container w3-padding">
<h1 class="w3-text-white">Centros Medicos</h1>
<h4 class="w3-text-white">Seleccione centro medico en el cual desea realizar el estudio medico.</h4>
</div>
    {{#conTipo}}
    <div class="w3-container w3-opacity">

        <h1 class="w3-text-white">Usted ya realizo la consulta medica, su tipo es: {{conTipo}}</h1>

    </div>
    {{/conTipo}}
<div class="w3-row w3-theme">
    {{#sedes}}
    <div class="w3-third ">

    <div class=" w3-card-4  w3-margin w3-black ">
        <form action="/reservas/reservarTurno">
            <img style="width: 100%" src="/public/images/{{imagen}}"/>
            <div class="w3-container ">
                <h2 class="w3-text-white">{{nombre}}</h2>
                <!-- <h3 class="w3-text-white">Turnos restantes: {{cantidadTurnos}}</h3> -->
                <input type="hidden" name="sede" id="sede" value="{{id}}">
                <label for="fechaSolicitada">Seleccione fecha deseada para su turno</label>
                <br>
                <input class="w3-margin-top" type="date" name="fechaSolicitada" id="fechaSolicitada">
                <br>
                <input class="w3-margin-top w3-margin-bottom w3-button w3-white" type="submit" value="reservar">
            </div>
        </form>

    </div>
        </a>
    </div>
    {{/sedes}}
</div>



{{>footer}}