{{> header}}
<div class="w3-margin formulario w3-card ">
    <div class="w3-container w3-black ">
        <h3>Confirmar reserva</h3>
    </div>
    <h2 class="w3-margin">Datos de la reserva</h2>
    <form class="w3-container " method="post">
        <label class="w3-margin-bottom" for="fecha" value="{{fecha}}">Fecha</label>
        <input class="w3-input w3-margin-bottom" type="date" id="fecha" name="fecha" disabled>
        <label class="w3-margin-bottom" for="hora">hora</label>
        <input class="w3-input w3-margin-bottom" type="text" id="hora" name="hora" disabled>
        <label class="w3-margin-bottom" for="partida">Aeropuerto de salida</label>
        <input class="w3-input w3-margin-bottom" type="text" id="partida" name="partida" value=" {{partida}}"
               disabled></input>
        <label class="w3-margin-bottom" for="hora">Duracion del vuelo</label>
        <input class="w3-input w3-margin-bottom" name="duracion" value="{{duracion}} Horas" disabled>
        <label class="w3-margin-bottom" for="matricula">Aeronave</label>
        <input class="w3-input w3-margin-bottom" name="matricula" id="matricula" value="{{matricula}}"
               disabled>{{matricula}}</input>
        <label class="w3-margin-bottom" for="tipo_asiento">Tipo de asiento</label>
        <select class="w3-select w3-margin-bottom" name="tipo_asiento" id="tipo_asiento">
            <option value="general">General</option>
            <option value="familiar">Familiar</option>
            <option value="suite">Suite</option>
        </select>
        <label class="w3-margin-bottom" for="hora">Numero de asiento</label>
        <input class="w3-input w3-animate-input" type="number" max="60">
        <label class="w3-margin-bottom" for="servicio">Servicios</label>
        <select class="w3-select w3-margin-bottom" name="servicio" id="servicio">
            <option value="standard">Standard</option>
            <option value="gourmet">Gourmet</option>
            <option value="spa">Spa</option>
        </select>

        <input type="submit" class="w3-button w3-black w3-margin-bottom" value="Confirmar">
    </form>

</div>
{{> footer}}