{{> header}}

<div class="w3-container w3-black ">
    <h3>Vuelos</h3>
</div>

<div class="w3-container w3-padding">

    <h4 class="w3-text-white">Seleccione el tipo de vuelo que esta buscando.</h4>
</div>



<div class=" w3-row w3-theme ">

    <div class="w3-third ">
        <a href="/vuelos/suborbital">
            <div class=" w3-card-4  w3-margin w3-white w3-round-xlarge ">
                <img style="width: 100%" src="/public/images/suborbital.jpg"/>
                <div class="w3-container ">
                    <h2 class="w3-text-black">Sub-orbitales</h2>
                    <a href="/vuelos/suborbital"
                       class="w3-margin-top w3-margin-bottom  w3-black w3-button w3-round-xlarge">Buscar</a>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-third ">
        <a href="/vuelos/entreDestinos">
            <div class=" w3-card-4  w3-margin w3-white w3-round-xlarge ">
                <img style="width: 100%" src="/public/images/entreDestinos.jpeg"/>
                <div class="w3-container ">
                    <h2 class="w3-text-black">Entre Destinos</h2>
                    <a href="/vuelos/entreDestinos"
                       class="w3-margin-top w3-margin-bottom  w3-black w3-button w3-round-xlarge">Buscar</a>

                </div>
            </div>
        </a>
    </div>
    <div class="w3-third ">
        <a href="/vuelos/tour">
            <div class=" w3-card-4  w3-margin w3-white w3-round-xlarge ">
                <img style="width: 100%" src="/public/images/tour.jpg"/>
                <div class="w3-container ">
                    <h2 class="w3-text-black">Tour</h2>
                    <a href="/vuelos/tour"
                       class="w3-margin-top w3-margin-bottom  w3-black w3-button w3-round-xlarge">Buscar</a>
                </div>
            </div>
        </a>
    </div>


</div>


{{> footer}}