body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Enigmatic', sans-serif;

}


body {
    background-image: url("/public/images/galaxy.jpg");
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.gaucho {
    font-family: 'SF Archery Black SC', sans-serif;


}


.w3-bar .w3-button {
    padding: 16px;
}


.formulario {
    width: 33%;
}

.mensaje {
    width: 100%;
    margin: auto;
    padding: 1.5em;
    color: var(--color_contextual_oscuro);
    border: var(--color_contextual_oscuro) 3px solid;
    background-color: var(--color_contextual_claro);
}

.exito {
    --color_contextual_oscuro: green;
    --color_contextual_claro: lightgreen;
}

.error {
    --color_contextual_oscuro: darkred;
    --color_contextual_claro: lightsalmon;
}

.advertencia::before,
.warning::before {
    content: "⚠️";
    background-color: #fcba03;
    width: 2em;
    margin-top: -3rem;
    padding-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
}

.advertencia,
.warning {
    border: solid thick black;
    padding: 1rem;
    --color_contextual_oscuro: darkred;
    --color_contextual_claro: #fcba03;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;


}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.rick {
    z-index: 1000;
    width: 1060px;
    height: 615px;
}

.selected {
    border-style: inset;

    background-color: #0A0;
    color: #0F0;
}

.reserved {
    border-style: outset;
    padding: 1em;
    background-color: gray;
    color: darkred;
}

.asientos_container {
    flex-wrap: wrap;
}

.asientos {
    display: flex;
    flex-direction: column;
}

.asientos input[type="radio"] {
    display: none;
}

.asientos label::before {
    content: var(--check);
    display: inline-block;
    height: 14px;
    width: 15px;
    border-radius: var(--radio);
    margin: 4px 10px 0;
    line-height: 13px;
    min-width: 15px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

input[type="radio"] + label {
    --check: '\f007';
    --radio: 50%;
    font-size: 1.2em;
}

.asientos input[type="radio"]:checked + label::before, .radio_barra input[type="checkbox"]:checked + label::before {
    content: var(--check);
    text-align: center;
    border: none;
    color: green;
}

.asientos input[type="radio"]:disabled + label::before, .radio_barra input[type="checkbox"]:disabled + label::before {
    color: red;
    content: var(--check);
    text-align: center;
    border: none;
}

