body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Enigmatic', sans-serif;

}


body {
    background-image: url("/public/images/galaxy.jpg");
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.gaucho {
    font-family: 'SF Archery Black SC', sans-serif;


}


.w3-bar .w3-button {
    padding: 16px;
}


.formulario {
    width: 33%;
}

.mensaje {
    width: 100%;
    margin: auto;
    padding: 1.5em;
    color: var(--color_contextual_oscuro);
    border: var(--color_contextual_oscuro) 3px solid;
        background-color: var(--color_contextual_claro);
}

.exito {
    --color_contextual_oscuro: green;
    --color_contextual_claro: lightgreen;
}

.error {
    --color_contextual_oscuro: darkred;
    --color_contextual_claro: lightsalmon;
}

.advertencia::before,
.warning::before {
    content: "⚠️";
    background-color: #fcba03;
    width: 2em;
    margin-top: -3rem;
    padding-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
}

.advertencia,
.warning {
    border: solid thick black;
    padding: 1rem;
    --color_contextual_oscuro: darkred;
    --color_contextual_claro: #fcba03;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;



}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.rick {
    z-index: 1000;
    width: 1060px;
    height: 615px;
}
