h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    font-family: "Lato", sans-serif;
}

.background {

    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

iframe{
    width: 100%;
    min-height: 70em;
}

img{
    opacity: 1;
    max-width: 100%;
}

.grilla{
 display: grid;
}

.mensaje {
    width: 100%;
    margin: auto;
    padding: 1.5em;
    color: var(--color_contextual_oscuro);
    border: var(--color_contextual_oscuro) 3px solid;
    background-color: var(--color_contextual_claro);
}

.exito {
    --color_contextual_oscuro: green;
    --color_contextual_claro: lightgreen;
}

.error {
    --color_contextual_oscuro: darkred;
    --color_contextual_claro: lightsalmon;
}

.advertencia::before,
.warning::before {
    content: "⚠️";
    background-color: #fcba03;
    width: 2em;
    margin-top: -3rem;
    padding-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
}

.advertencia,
.warning {
    border: solid thick black;
    padding: 1rem;
    --color_contextual_oscuro: darkred;
    --color_contextual_claro: #fcba03;
}